{
  "presets": ["env", "stage-3"],
  "plugins": [
    [
      "@babel/plugin-transform-regenerator",
      {
        "asyncGenerators": true,
        "generators": true,
        "async": true
      }
    ]
  ]
}
